<h1>Dashboard</h1>

<table>
  <tbody>
    <tr>
      <td>
        <p>Signature Count</p>
      </td>
      <td>
        <ul>
          <li id="signature_count">
            <%= @signature_count %>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <p>Leading States</p>
      </td>
      <td>
        <ol id="leading_states">
          <% @leading_states.each do |state| %>
            <li><%= state %></li>
          <% end %>
        </ol>
      </td>
    </tr>
  </tbody>
</table>
