<h1>New Signature</h1>
<%= form_with(model: signature) do |form| %>
  <% if signature.errors.any? %>
    <div id="error_explanation">
      <h2>Please be advised that:</h2>
      <ul>
        <% signature.errors.messages.each do |field, messages| %>
          <li><%= field.to_s.humanize + ' ' + messages[0] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :signature_name %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, id: :signature_zip_code %>
  </div>

  <div class="actions">
    <%= form.submit data: { "disable-with": "Registering..." } %>
  </div>
<% end %>
