<!DOCTYPE html>
<html>
  <head>
    <title>StopLopa</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="information">
      <%= content_for :information %>
    </div>
    <br>
    <div id="interaction">
      <%= content_for :interaction %>
    </div>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
